In [143]:
import pandas as pd
data=pd.read_csv("C:\\Users\\anuja\\Desktop\\kaggle_dataset.csv")
df=pd.DataFrame(data)

In [145]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [147]:
print(df.isnull().sum())

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [149]:
df = df.fillna({'math score': df['math score'].mean(),
                'reading score': df['reading score'].mean(),
                'writing score': df['writing score'].mean()})
df = df.apply(lambda col: col.fillna(col.mode()[0]) if col.dtype == "object" else col)

In [151]:
df.dropna(inplace=True)

In [153]:
df["total_score"]=(df["math score"]+df["reading score"]+df["writing score"])//3

In [155]:
bins = [0, 60, 80, 100]  
labels = ['Low', 'Medium', 'High']
df['performance_category'] = pd.cut(df['total_score'], bins=bins, labels=labels)

In [157]:
df.to_csv(r"C:\Users\anuja\Desktop\dataset_eda.csv", index=False)